.mengceng{width: 100%; height: 100%; overflow: hidden; background: rgba(0,0,0,0.3); z-index: 1; position: absolute; left: 0; top: 0; display: none;}
.content{/* min-height: 856px; background: #fff;  */overflow: hidden; position: relative; padding-bottom: 30px;}
.content s{background: url(../images/shuji/read_icon.png) no-repeat; float: left;}
.con_hd{height: auto; /* border-bottom: 1px solid #f0f0f0; */ padding: 32px 35px 30px 30px; font-size: 12px; margin: 0 0 1px 0;}
.con_hd a{color: #9e9e9e;}
.con_hd a:hover{color: #f26552;}
.con_hd .sm{/* color: #333; */ max-width:350px;}
.con_hd .gxsz{float: right; height: 18px; position: relative;}
.con_hd .gxsz span{cursor: pointer; margin: 0 7px;}
.con_hd .gxsz .bj{width: 14px; height: 14px; border-radius: 50%; background: #e8dfdf; box-shadow: 0px 2px 2px #a3a2a2;}
.con_hd .gxsz .zh s{width: 17px; height: 14px; background-position: -19px 0;}
.con_hd .gxsz .kd s{width: 15px; height: 15px; background-position: -39px 0;}
.con_hd .gxsz .ydfs s{width: 12px; height: 15px; background-position: -25px -156px;}
.con_hd .gxsz .qhfs s{width: 21px; height: 15px; background-position: -38px -156px;}

/* 下拉框 */
.con_hd .gxsz .xiala{width: 188px; height: 54px; background: #fff; box-shadow: 0px 0px 6px #c8c8c8; border-radius: 10px; position: absolute; top: 32px;}
.con_hd .gxsz .xiala .sjbj{width: 18px; height: 12px; background-position: 0 0; margin: -12px 0 0 87px;}
.con_hd .gxsz .bjxl{width: 200px; height: 100px; left: -81px; display: block;}
.con_hd .gxsz .bjxl ul{overflow: hidden; padding: 12px 12px 0 12px;}
.con_hd .gxsz .bjxl li{width: 32px; height: 32px; border: 1px solid #eaeaea; background: #eaeaea; border-radius: 50%; box-shadow: 0px 2px 2px #a3a2a2; cursor: pointer; float: left; margin: 0 12px 8px;}
.con_hd .gxsz .bjxl .bj02{background: #e6f0e6; border: 1px solid #e6f0e6;}
.con_hd .gxsz .bjxl .bj03{background: #e4e9f2; border: 1px solid #e4e9f2;}
.con_hd .gxsz .bjxl .bj04{background: #ede2ef; border: 1px solid #ede2ef;}
.con_hd .gxsz .bjxl .bj05{background: #f7f5ca; border: 1px solid #f7f5ca;}
.con_hd .gxsz .bjxl .bj06{background: #333333; border: 1px solid #333333;}
.con_hd .gxsz .bjxl .cur{border: 1px solid #f26552;}
.con_hd .gxsz .bjxl li:hover{border: 1px solid #f26552;}
.con_hd .gxsz .zhxl{left: -47px;}
.con_hd .gxsz .xl_con{overflow: hidden; padding: 18px 30px 0;}
.con_hd .gxsz .xiala .reduce,.con_hd .gxsz .xiala .add{width: 28px; height: 16px; background-position: 0 -39px; cursor: pointer;}
.con_hd .gxsz .xiala a{font-size: 18px;  color: #7e7e80; float: left; width: 48px; text-align: center; margin: -3px 0 0 13px;}
.con_hd .gxsz .xiala .add{background-position: 0 -19px; float: right;}
.con_hd .gxsz .kdxl{left: -47px;}
.con_hd .gxsz .kdxl .sjbj{margin: -12px 0 0 124px;}
.con_hd .gxsz .kdxl .reduce{background-position: -35px -39px;}
.con_hd .gxsz .kdxl .add{background-position: -35px -19px;}
.con_hd .gxsz .gdxl{left: -38px;}
.con_hd .gxsz .gdxl .sjbj{margin: -12px 0 0 139px;}
.con_hd .gxsz .gdxl p{ font-size: 14px; color: #7e7e80; margin-left: 8px;}
.art_box{margin: 0 0 0 82px; overflow: hidden; padding: 0 0 50px 0; width: 100%;}
.article{/* width: 960px;  */overflow: hidden; padding: 60px 70px 0; /* min-height: 510px; */}
.article h2{font-size: 32px; color: #333; text-align: center; margin-bottom: 24px;}
.article ul{overflow: hidden;/*  padding-left: 252px;  */width: 664px; margin: 0 auto; border-bottom:1px solid #d9d9d9;padding-bottom:40px;
  padding-left: 56px;}
.article ul li{margin: 0 12px; float: left; font-size: 12px;}
.article .art_con{padding: 30px 0;}
.article .art_con p{text-indent: 2em; line-height: 2em; letter-spacing: 2px; padding-bottom: 2em; color: #676767; font-size: 16px;}
.content .shang{text-align: center;}
.content .shang .dsbtn{cursor: pointer;}
.content .zjqh{width: 521px; margin: 30px auto 0;}
.zjqh .syz s{width: 22px; height: 9px; background-position: -26px -57px; float: none; margin: 0 0 0 6px;}
.zjqh .mulu{margin: 0 32px 0 38px;}
.zjqh .mulu s{width: 17px; height: 16px; background-position: -49px -58px; margin: 3px 6px 0 0}
.zjqh .mulu a{margin: 0 2px 0 0;}
.zjqh .xyz s{width: 22px; height: 9px; background-position: 0 -55px; float: none; margin: 0 0 0 6px;}
/* 作者的话 */
.aut_word{width: 700px; line-height: 18px; background: #fff; border: 1px solid #d2d2d2; margin: 40px auto 0; padding: 18px 40px;}
.aut_word{color: #666; font-size: 12px; line-height: 22px;}
.aut_word .tit{color: #333; font-size: 14px; margin: 0 0 4px 0;}
.tools{position: fixed; left: 10px; top: 150px; z-index: 100;}
.tools ul .tool_bj{width: 68px; height: 68px; text-align: center; background: #fff; margin: 0 0 2px 0; cursor: pointer; position: relative;}
/* 目录 */
.tools ul .tool_bj s{width: 17px; height: 16px; background-position: -49px -58px; float: none; margin: 12px 0 3px 0;}
.tools ul li p{color: #6f6f6f; font-size: 12px;}
.tools ul li .tc{/* width: 600px; */ background: #fff; border-radius: 10px; padding: 18px 24px 40px; position: absolute; left: 82px; top: 0; box-shadow: 0px 0px 12px rgba(0,0,0,0.5);}
.tools ul .mulu .tc{display:none;}
.tools ul li .tc s{float: left; width: 12px; height: 14px; background-position: 0 -66px; margin: 0 0 0 -36px;}
.tools ul li .tc .tit{text-align: left; margin: 0 0 20px 0;}
.tools ul li .tc .tit span{font-size: 18px; color: #000;}
.tools ul li .tc .tit s{width: 14px; height: 14px; background-position: -18px -66px; float: right;}
.mulu .tc .flTit{width: 540px; height: 32px; padding: 0 15px; background: #f7f7f7; line-height: 32px; text-align: left; color: #333; margin: 0 0 8px 0;}
.mulu .tc .flTit .qhBtn{float: right; background: url(../images/shuji/read_icon.png) no-repeat -49px -73px;; width: 10px; height: 10px; margin: 16px 10px 0 0; cursor: pointer; float: right;}
.mulu .tc .flTit .open{margin: 10px 10px 0 0; background-position: -64px -70px;}
.mulu .tc_con{height: 600px; overflow-x: hidden;}
.tc_fenlei ul{overflow: hidden; padding: 0 0 24px 0;}
.tc_fenlei ul li{width: 260px;  height: 32px; line-height: 32px; float: left; padding: 0 0 0 15px;}
.tc_fenlei ul li a{max-width: 212px;  font-size: 14px; color: #666; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; float: left;}
.tc_fenlei ul li a:hover{color: #f26552;}
.tc .tc_fenlei ul li .vzj{ width: 21px; height: 10px; background: url(../images/common/iconC.png) no-repeat -154px -48px; margin: 10px 22px 0 0; float: right; }
.tools ul .mulu .tc .load{width: 74px; color: #9e9e9e;}
/* 返回书页 */
.tools ul .back s{width: 15px; height: 20px; background-position: 0 -83px;}
/* 加入收藏 */
.tools ul .jrsj s{width: 22px; height: 20px; background-position: -17px -82px;}
.tools ul .jrsj .yjr{background-position: 0 -150px;}
/* 送鲜花 */
.tools ul .sxh s{width: 21px; height: 22px; background-position: -41px -80px;}
/* 评价 */
.tools ul .pj s{width: 20px; height: 18px; background-position: 0 -105px;}
/* 手机 */
.tools ul .sj s{width: 16px; height: 21px; background-position: -22px -103px;}
.tools ul .sj .tc{width: 320px; display: none;}
.tools ul .sj .tc img{margin: 10px 0 10px 0;}
.tools ul .sj .tc p{margin-bottom: 10px;}
/* 分享 */
.tools ul .share s{width: 18px; height: 25px; background-position: -40px -103px;}
.tools ul .share .tc{width: 210px; height: 60px; padding: 9px 13px 0px 24px; display: none;}
.tools ul .share .tc a{margin: -8px 8px 0; float: left;}
/* 右侧切换章节 */
.zjqh_R{position: fixed; right: 333px; bottom: 0;}
.zjqh_R ul li{width: 66px; height: 88px; background: #fff; margin: 0 0 2px 0; text-align: center; cursor: pointer; color: #7e7e80;}
.zjqh_R ul li s{float: none; margin: 16px auto 14px; display: block;}
.zjqh_R ul li a{color: #7e7e80;}
.zjqh_R ul li .syz{width: 21px; height: 19px; background-position: 0 -129px;}
.zjqh_R ul li .xyz{width: 21px; height: 19px; background-position: -23px -129px;}
.zjqh_R ul li .back{width: 19px; height: 19px; background-position: -44px -129px;}

/* 试读结束 */
.end .tools .mulu .tc{display: none;}
.readend{width: 780px; height: 246px; background: #fff; margin:80px auto;text-align: center;}
.readend h2{font-size: 16px; padding: 40px 0 12px 0;}
.readend div{margin: 0 0 7px 0;}
.readend div a{width: 146px; height: 54px; padding: 12px 6px 0; border-radius: 10px;text-align: center; background: #ccc; color: #fff; cursor: pointer; margin: 0 26px;}
.readend i{display: block; margin: 0 0 4px 0;}
.readend .dybz{background: #f26552;}
.readend input{width: 12px; height: 12px;}

.readend .zddy{margin-left: 418px; font-size: 12px;}
.readend .zddy p{overflow: hidden; width: 146px;}
.readend .zddy i{float: left;}
.readend .dxBtn{margin: 2px 4px 0 0;}
.readend .dyzj{width: 144px; color: #ccc;}
/* 审核章节 */
.shzj{width: 475px; height: 212px; padding: 14px 151px; background:none;}
.shzj .sh_con{width: 375px; height: 158px; background: url(../images/shuji/sj_icon.png); padding: 54px 0 0 100px; font-size: 18px; color: #333; line-height: 28px; text-align: left;}
/* 文章加载 */
.chapter_load{text-align: center; padding: 40px 0 70px 0;}
/* 控制阅读背景色 */
.bgcolor01{background: #3d3e45;}
.bgcolor01 .con_hd,.bgcolor01 .art_box,.bgcolor01 .art-box-right,.bgcolor01 .read-foot{background: #eaeaea;}
.bgcolor02{background: #EAE0C1;}
.bgcolor02 .con_hd,.bgcolor02 .art_box,.bgcolor02 .art-box-right,.bgcolor02 .read-foot{background: #FAF3DB;}
.bgcolor02 .aut_word{background: #d7ead7; border: 1px solid #c5e6c5;}
.bgcolor03{background: #EBCECF;}
.bgcolor03 .con_hd,.bgcolor03 .art_box,.tools ul .tool_bj,.bgcolor03 .art-box-right,.bgcolor03 .read-foot{background: #F5E4E4;}
.bgcolor03 .aut_word{background: #d1daeb; border: 1px solid #c6d3e9;}
.bgcolor04{background: #CFDDE0;}
.bgcolor04 .con_hd,.bgcolor04 .art_box,.bgcolor04 .art-box-right,.bgcolor04 .read-foot{background: #E1EEF3;}
.bgcolor04 .aut_word{background: #e8d5ec; border: 1px solid #e4cae9;}
.bgcolor05{background: #CEE0CE;}
.bgcolor05 .con_hd,.bgcolor05 .art_box,.bgcolor05 .art-box-right,.bgcolor05 .read-foot{background: #E3EFE3;}
.bgcolor05 .aut_word{background: #f0eec0; border: 1px solid #e8e6b8;}
.bgcolor06{background: #212121;}
.bgcolor06 .con_hd,.bgcolor06 .art_box,.bgcolor06 .art-box-right,.bgcolor06 .read-foot{background: #333333;}
.bgcolor06 .tools ul li p,.bgcolor06 .article .art_con p,.bgcolor06 .article h2, .bgcolor06 a,.bgcolor06 .zjqh_R ul li a{color: #9e9e9e;}
.content .tools ul li:hover,.zjqh_R ul li:hover{background: #fff;}
.bgcolor06 a:hover{color: #212121}
.bgcolor06 .readend a:hover{color: #fff;}
.bgcolor06 .aut_word{background: #212121; border: 1px solid #212121;}
.bgcolor06 .aut_word{color: #9e9e9e;}
.bgcolor06 .aut_word .tit{color: #fff;}
/* .bgcolor06 .con_hd{border: 1px solid #212121;} */
